div.form-item-tipo-solicitante  div.form-item-tipo-solicitante{
	    float: left;
    width: 25%;
    margin-right: 1em;
}
div.form-item-tipo-solicitante input {
    float: right;
    width: 15px;
    margin-top: 5px;
}
#govi-sdqs-form-container select {
    background: url(/sites/all/themes/govi_tema/assets/imagenes/navegacion_aba_a.png) no-repeat right 14px #fff !important;
}

@media only screen and (max-width: 400px) {
    div.form-item-tipo-solicitante  div.form-item-tipo-solicitante{
	float: left;
    width: 44%;
    margin-right: 1em;
}
div.form-item-tipo-solicitante input {
    float: right;
    margin-top: 10px;
}
}