#servicio-ciudadano {

}

#sdqs .title h3{
    color: #F3A82B;
    font-size: 0.9em;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 1.4em;
    text-transform: uppercase;
}

#sdqs .logo {
    background-image: url('../imgs/logo-sdqs.png'); 
    background-repeat: no-repeat;
    display: block;
    float:left;
    height: 20px;
    margin-right: 5px;
    width: 62px;
}

#sdqs .boton {
    margin-bottom: 20px;
}

#sdqs .boton a {
    color: #FFFFFF;
    border-radius: 8px;
    background-clip: padding-box;
    background-repeat: repeat-x;
    background-position: left bottom;
    display: block;
    padding: 10px;
    font-family: roboto bold;
    font-size: 1.5em;
    letter-spacing: -1px;
    text-decoration: none;
}

#sdqs .boton i {
    background-color: red;
    background-repeat: no-repeat;
    background-position: 17px center;
    border-radius: 30px;
    display: block;
    float: left;
    height: 60px;
    margin-left: 20px;
    margin-right: 15px;
    position: relative;
    top: -6px;
    width: 60px;
}

#sdqs .boton.crear i {
    background-color: #2E579D;
    background-image: url("../imgs/icono1.png");
}

#sdqs .boton.consultar i {
    background-color: #F3A82B;
    background-image: url("../imgs/icono2.png");
}

#sdqs .boton.crear a {
    background-color: #2E579D;
    background-image: url("../imgs/ciudad1.png");

}

#sdqs .boton.consultar a {
    background-color: #F3A82B;
    background-image: url("../imgs/ciudad1.png");
}

#sdqs .boton.crear span {
    color: #F3A82B;
}

#sdqs .boton.consultar span {
    color: #2E579D;
}